#edit-evaluation {
  .selectize-control {
    @extend .input-group-field;
  }
  .user-group-container>td:last-child { text-align: right; }
  .user-group-container {
    padding:1em;
    border: 1px solid $border-color;
    margin-bottom: 2em;
  }
}
