#profile {
  .profile-link-container {
    border: 1px solid $border-color;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    h4 {
      text-align: center
    }
    .profile-row {
      padding: 1rem;
      text-align: start;
      p {
        margin: 0;
        font-weight: bold;
        vertical-align: middle;
        display: inline-block;
      }
      .button {
        margin: 0;
        float: right;
      }
    }
    .profile-row:nth-child(even) {
      background-color: $color4;
    }
    .profile-row:nth-child(odd) {
      border: 1px solid $color4;
    }
    .link-button {
      margin-top: 1rem;
    }
  }
}
