@include breakpoint(small only) {
  .cell {
    padding: 0;
  }
  .remove-question-btn,
  .remove-criteria-btn {
    font-size: 0.7rem;
  }
}

.share-row {
  padding: 1em;
  border: 1px solid $border-color;
  margin-bottom: 5px;
  .input-group {
    .link-field {
      cursor: pointer;
    }
    margin-bottom: 5px;
    .input-group-button:first-child button {
      border-radius: 3px 0 0 3px;
    }
  }
}
.question.is-active {
  border: 1px solid #5e5e5e;
  .question-content {
    border: 0;
  }
}

.question.is-active>.question-title {
  color: white;
  border: 0;
  background: #5e5e5e;
  background: -webkit-linear-gradient(#6e6e6e, #757575);
  background: -o-linear-gradient(#6e6e6e, #757575);
  background: -moz-linear-gradient(#6e6e6e, #757575);
  background: linear-gradient(#6e6e6e, #757575);
}

.question>.question-title:hover,
.question>.question-title:focus {
  background: #5e5e5e;
  background: -webkit-linear-gradient(#6e6e6e, #757575);
  background: -o-linear-gradient(#6e6e6e, #757575);
  background: -moz-linear-gradient(#6e6e6e, #757575);
  background: linear-gradient(#6e6e6e, #757575);
  color: white;
}

#question-list {
  margin: 1rem 0;

  .question.collapsed:nth-child(odd)>.question-title {
    background: #f8f8f8;
  }
  .question.is-active:nth-child(odd)>.question-title,
  .question:nth-child(odd)>.question-title:hover,
  .question:nth-child(odd)>.question-title:focus {
    background: #5e5e5e;
    background: -webkit-linear-gradient(#6e6e6e, #757575);
    background: -o-linear-gradient(#6e6e6e, #757575);
    background: -moz-linear-gradient(#6e6e6e, #757575);
    background: linear-gradient(#6e6e6e, #757575);
   }
}
.question {
  border-bottom: 0;
  border-radius: 0;
  .question-criteria {
    margin-bottom: 1em;
    .criteria {
      border-bottom: 0;
      padding: 0;

      .select-row {
        border-bottom: 1px solid $border-color;
        .cell {
          padding: 5px;
        }
      }
    }
    .criteria.is-active {
      border: 1px solid #1779ba;
      .criteria-content {
        padding: 1rem;
        border: 0;
      }
    }
    .criteria.is-active>.criteria-title {
      border: 0;
      background: #1779ba;
      background: -webkit-linear-gradient(#1779ba, #1789cd);
      background: -o-linear-gradient(#1779ba, #1789cd);
      background: -moz-linear-gradient(#1779ba, #1789cd);
      background: linear-gradient(#1779ba, #1789cd);
      color: white;
    }
    .criteria>.criteria-title:hover,
    .criteria>.criteria-title:focus {
      background: #1779ba;
      background: -webkit-linear-gradient(#1779ba, #1789cd);
      background: -o-linear-gradient(#1779ba, #1789cd);
      background: -moz-linear-gradient(#1779ba, #1789cd);
      background: linear-gradient(#1779ba, #1789cd);
      color: white;
    }
  }
}

.question-title,
.criteria-title {
  background: #fefefe;
  padding: 1.25rem 3rem;
  line-height: 1;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: bold;
  color: inherit;
  position: relative;
  .question-handle {
    position: absolute;
    color: #0a0a0a;
    top: 0;
    right: 0;
    background: $color4;
    height: 100%;
    padding: 1.25rem .5rem;
    cursor: move;
  }
  .button {
    background-color: #cc4b37;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    border-radius: 0;
    color: #fefefe;
  }
}
