#answer-survey {
  #collapse-btn {
    position: fixed;
    opacity:0.2;
    z-index: 10;
    bottom:1rem;
    right:1rem;
  }
  #collapse-btn:hover, #collapse-btn:active, #collapse-btn:focus {
    opacity: 1;
  }
  .survey-description {
    white-space: pre-line;
  }
  .answer-question:nth-child(odd) {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    .answer-question-title {
      background-color: #fefefe;
      &:hover {
        background-color: darken(#fefefe, 10%);
      }
    }
  }
  .answer-question {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    .answer-question-title {
      cursor: pointer;
      background-color: $color4;
      margin: 0;
      padding: 5px 1rem;
      font-size: 1.6875rem;
      @include breakpoint(small only) {
        font-size: 1.1875rem;
      }
      &:hover {
        background-color: darken($color4, 10%);
      }
      i {
        float: right;
        color: rgb(72, 204, 85)
      }
    }

    .answer-question-content {
      box-shadow: inset 0 3px 7px -3px rgba(50, 50, 50, 0.75);;
      padding: 1rem;
      background-color: #fff;
      p {
        white-space: pre-line;
      }
    }
  }
}
