<div class="reveal" id="confirm-modal" data-reveal
     data-animation-in="scale-in-up fast"
     data-animation-out="scale-out-down fast"
     data-close-on-click="true">
  <div class="grid-x grid-padding-x align-center text-center">
    <div class="cell small-12">
      <h4 id="modal-text"></h4>
      <div class="small-12 cell" id="modal-content"></div>
    </div>
    <div class="button-group">
      <button type="button" id="modal-confirm-btn" class="button"><%= translator.trans("I'm sure") %></button>
      <button type="button" class="alert button" data-close><%= translator.trans('I changed my mind') %></button>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
