<div class="reveal medium grid-x" id="description-modal" data-reveal
     data-animation-in="scale-in-up fast"
     data-animation-out="scale-out-down fast"
     data-close-on-click="true">

  <div class="small-12 cell" id="content"></div>

  <button type="button" class="alert button" data-close><%= translator.trans('Close') %></button>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
