[Service]
Environment="NODE_ENV=production"
Environment="MARIA_USER={{mariadb_user}}"
Environment="MARIA_PASSWORD={{mariadb_pass}}"
Environment="MONGO_USER={{mongodb_user}}"
Environment="MONGO_PASSWORD={{mongodb_pass}}"
Environment="REDIS_PASSWORD={{redis_pass}}"
Environment="MARIA_HOST={{maria_host}}"
Environment="MONGO_HOST={{mongo_host}}"