#warning {
  text-align: center;
}
//***************BUTTONS*******************

.button {
  border: 0;
  vertical-align: text-bottom;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
}

.button-group {
  margin: 0;
  .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
  }
  .button:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }

  .button:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
  }

  .button:only-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

.input-group {
  .input-group-field {
    height: 2.4375rem;
  }
  input {
    margin: 0;
  }
  select {
    display: table-cell;
    margin: 0;
  }

  .button {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
  }
  .button:not(#add-users, #add-user-groups) {
    height: 100%;
  }
}

//***************RADIO BUTTON*******************

.radio-button {
  float: left;
  padding-right: 15px;
  input {
    margin: 0;
  }
}

.radio-label {
  border-bottom: 1px solid $border-color;
  margin-bottom: 1em;
}

//***************SLIDER*******************

.slider-handle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

//**************ORBIT********************
.orbit-previous, .orbit-next {
  height: 15%;
  font-size: 1.5em;
  background-color: rgba(10, 10, 10, 0.1);

  @include breakpoint(small only) {
    color: rgba(20,20,20,0.8);
    background-color: rgba(10, 10, 10, 0);
  }
}

.orbit-slide {
  background-color: $color4;
  padding: 0 3em;
  border: 1px solid $border-color;

  @include breakpoint(small only) {
    padding: 0;
  }
}

.orbit-bullets {
  margin: 0;
  padding: 0 3em;
}

.orbit-bullets button {
  width: 1.5em;
  margin: 0 0 .1rem 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

}

.orbit-bullets button.is-active {
  height: 1.5em;
  background-color: $color2-light;
}

//**************CALLOUT*******************

.callout {
  div {
    max-width: 62.5em;
    margin: 0 auto;
  }
  box-shadow: 0 0 5px #6b6b6b;
}


//***********SELECTIZE**************

.selectize-input {
  border-radius: 0 !important;
  background-color: #fefefe;
  min-height: 21px;
  padding: 8px 8px 9px;
}

.selectize-input input {
  font-size: 1rem;
  height: 20px;
  vertical-align: middle;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 6px 8px 4px;
}

.selectize-control.multi .selectize-input [data-value] {
  border-radius: 0;
}

//********SORTABLE******************

.question-chosen {
  border-top: 1px solid $color2-light;
}

//*******INFO MESSAGE**********

#info-message {
  pointer-events: none;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.57);
  color: white;
  padding: 1em 1em 3em;
  display: inline;
  position: fixed;
  bottom: 0;
  right: 0;

}

//*******GRAPHS**********

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}

.graph-container {
  margin-bottom: 2em;
  overflow-x: auto;
}

//*********TABLE*************

.table-buttons {
  min-height: 3em;
  display: inline-block;
  min-width: 6em;
}
.table-buttons button {
  margin-right: 5px;
  vertical-align: middle;
}

table#icon-explanations {
  i {
    font-size:1.3rem;
  }
}

//*******SPINNER***************

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.spinner.large,
.spinner.large:after {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  border-top: .7em solid rgba(0, 0, 0, 0.2);
  border-right: .7em solid #2f2f2f;
  border-bottom: .7em solid rgba(0, 0, 0, 0.2);
  border-left: .7em solid #2f2f2f;
}
.spinner.light {
  border-top-color: rgba(251, 251, 251, 0.2);
  border-right-color: #ffffff;
  border-top-color: rgba(251, 251, 251, 0.2);
  border-left-color: #ffffff;
}
.spinner {
  display: inline-flex;
  margin-left: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .5em solid rgba(0, 0, 0, 0.2);
  border-right: .5em solid #2f2f2f;
  border-bottom: .5em solid rgba(0, 0, 0, 0.2);
  border-left: .5em solid #2f2f2f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//*******TOOLTIPS***************

.has-tip {
  border-bottom: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(20, 20, 20, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
.d3-tip > p {
  margin: 0;
}
.d3-tip-value {
  color: yellow;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(20, 20, 20, 0.8);
  position: absolute;
  pointer-events: none;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

//**********REVEAL MODAL*************

.react-reveal {
  max-width: 39rem;
  position: relative;
  outline: none;
  top: 5%;
  right: auto;
  left: auto;
  margin: 0 auto;
  padding: 2rem 1rem;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  border-radius: 0;
  overflow: auto;
  @include breakpoint(small only) {
    top: 0;
    max-height: 100vh;
  }
}
.react-reveal-overlay {
  z-index: 11;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(10,10,10,0.45);
}
.ReactModal__Body--open{overflow: hidden;}

//**********PAGINATION***********

.paginate {
  display: inline-block;
  min-height: 3em;
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    &:not(.selected):not(.disabled):not(.break) a:hover {
      background-color: #ddd;
    }

    a {
      color: black;
      float: left;
      padding: 5px 13px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid $border-color;
    }
  }
  .break a{
    border: none;
    cursor: default;
  }
  .disabled a {
    cursor: not-allowed;
    color: #cacaca;
  }

  .selected a {
    background-color: #1779ba;
    border: 1px solid #1779ba;
    color: white;
  }
}

//**********TABLE*****************

#surveys-table, #group-user-table, #group-user-container {
  min-width: 720px;
  overflow-x: auto;
}