.survey-graph {
  .axis {
    fill: none;
    stroke: #AAA;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }

  text {
    stroke: none;
    fill: #666666;
    font-size: 15px;
  }

  .node {
    cursor: pointer;
  }

  .dot {
    cursor: pointer;
  }

  .dot-label {
    font-weight: bold;
  }

  .legend {
    cursor: pointer;
  }
}
