#question-bank {

  #num-of-questions {
    display: inline-block;
    vertical-align: middle;
    padding-right:1em;
  }
  #question-bank-questions {
    margin-left: 0;
    min-height: 5em;
    list-style-type: none;
  }

  //Might be a little bit of a micro-optimization, but anyways, this is supposedly faster when you have lots of rules for one nested item
  #question-bank-questions li {
    list-style: none;
    margin: 1em 0;

    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    input[type=checkbox] ~ label {
      display: block;
      background: $background-color;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.38) 1px 2px 2px;
      padding: 1em;
      border-radius: 3px;
      color: #616161;
      border: 1px solid $border-color;
      font-weight: bold;
    }

    input[type=checkbox]:checked ~ label {
      box-shadow: rgba(0, 0, 0, 0) 0 0 0;
      padding: 1em 1.1em 1em 2em;
      background: darken($background-color, 5%);
    }

    input[type=checkbox] ~ label:before {
      content: "";
      display: inline-block;
      margin: 0 5px 0 -5px;
    }

    input[type=checkbox]:checked ~ label:before {
      margin-left: -15px;
      color: #3ecb17;
      content: "✔";
    }

    input[type=checkbox]:not(:checked) ~ label:hover:before {
      content: "";
    }

    input[type=checkbox]:checked + label:hover:before {
      margin-left: -15px;
      color: #ab071c;
      content: "✔";
    }
  }
}
