.dbox-red {
  background: #c43b37;
}

.dbox-yellow {
  background: #d6bf36;
}

.dbox-violet {
  background: #9032a8;
}

.tint-green {
  box-shadow: inset 0 0 0 2000px rgba(0, 255, 92, 0.3);
}

.tint-orange {
  box-shadow: inset 0 0 0 2000px rgba(238, 184, 29, 0.30)
}

body {
  background: #f9f9f9;
  #container {
    background: #fefefe;
  }
}
