<% survey = session.survey %>
<div id="answer-survey">
  <h2><%= survey.title %></h2>
  <h4 class="survey-description"><%= survey.description %></h4>
  <form id="answer-form" data-session="<%=session.id%>"
        data-user-group="<%= session.userGroup %>"
        data-survey="<%=survey.id%>">
    <input type="hidden" name="_csrf" value="<%= ctx.csrf %>"/>

    <% if (survey.userInfo && survey.userInfo.length > 0) { %>
      <div id="user-info">
        <h3><%= translator.trans('Additional information') %></h3>
        <% survey.userInfo.forEach((question) => { %>
            <label><%= question %>
              <input name="<%= question %>" type="text">
            </label>
        <% }); %>
      </div>
    <% } %>
    <button id="collapse-btn" type="button" class="button"><%=translator.trans('Collapse all')%></button>
    <% survey.questions.forEach((question, i) => { %>
    <div class="answer-question">
      <h3 class="answer-question-title"><%= i + 1 %>. <%= question.title %></h3>
      <div id="answer-question-<%= question.id %>" class="answer-question-content" style="<%= i === 0 ? '' : 'display: none' %>">
        <p><%= question.description %></p>
        <% if (question.criteria) { %>
          <% question.criteria.forEach((criteria, i) => { %>

           <div class="answer-criteria">
              <h4><%= criteria.title %></h4>
               <% if (criteria.description) { %>
                <p><%= criteria.description %></p>
               <% } %>
               <div data-criteria-title="<%= criteria.title %>"
                    data-question="<%= question.id %>">
                 <% if (criteria.type === 'scale') { %>
                 <%- include('./survey/partials/scale-row', {criteria:criteria, question:question, i:i}) %>
                 <% } else if (criteria.type === 'select') { %>
                 <%- include('./survey/partials/select-row', {criteria:criteria, question:question, i:i}) %>
                 <% } %>
             </div>
           </div>
          <% }); %>
        <% } %>
        <div class="grid-x">
          <div class="small-12 cell">
            <label>
              <span class="has-tip"
                    data-tooltip aria-haspopup="true"
                    data-disable-hover="false"
                    tabindex="1"
                    title="<%= translator.trans('Describe why you chose these specific answers', question.criteria.length) %>"><%= translator.trans('Evidence') %> <i class="fi-info"></i></span>
              <textarea type="text" rows="3" id="proof-<%= i %>" name="<%= question.id %>" class="evidence-input"></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
    <p><%= translator.trans('Answering as a member of: %value%', session.userGroup.name) %></p>
    <div class="large button-group">
      <button type="button" id="save-answers-button" class="success button" ><i class="fi-save"></i> <%= translator.trans('Save') %></button>
      <button type="button" id="cancel-btn" <%= quick ? `data-open=confirm-modal` : ''; %> class="alert button"><%= translator.trans('Cancel') %></button>
    </div>
  </form>
</div>
<%if(quick){%>
<%- include('./partials/confirm-modal') %>
<%}%>

<script src="/js/answer.js"></script>