<div class="grid-x">
  <div class="cell small-12 medium-7 large-9">
    <div class="cell small-12">
      <h2><%= filter === 'active' ? translator.trans('Active surveys') : translator.trans('Closed surveys') %></h2>
    </div>
    <div class="cell small-12">
      <a href="/survey/new" class="small button"><i class="fi-plus"></i> <%=translator.trans('New survey') %></a>
    </div>
  </div>
  <div class="cell small-12 medium-5 large-3">
  <table id="icon-explanations">
    <thead>
      <tr>
        <th><%=translator.trans('Icon')%></th><th><%=translator.trans('Description')%></th>
      </tr>
    </thead>
    <tbody>
    <% if (filter ==='active') { %>
      <tr>
        <td><i class="fi-pencil"></i></td><td><%=translator.trans('Answer survey')%></td>
      </tr>
      <tr>
        <td><i class="fi-lock"></i></td><td><%=translator.trans('Close survey')%></td>
      </tr>
      <tr>
        <td><i class="fi-page-edit"></i></td><td><%=translator.trans('Edit answers')%></td>
      </tr>
      <% } else { %>
      <tr>
        <td><i class="fi-trash"></i></td><td><%=translator.trans('Delete survey')%></td>
      </tr>
      <tr>
        <td><i class="fi-graph-bar"></i></td><td><%=translator.trans('View results')%></td>
      </tr>
      <tr>
        <td><i class="fi-unlock"></i></td><td><%=translator.trans('Reopen survey')%></td>
      </tr>
      <tr>
        <td><i class="fi-pencil"></i></td><td><%=translator.trans('Edit survey')%></td>
      </tr>
      <% } %>
      <tr>
        <td><i class="fi-clipboard-notes"></i></td><td><%=translator.trans('Survey details')%></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="react-root" class="cell small-12" data-filter="<%= filter _%>">
  <%# react content %>
</div>
<script src="/js/surveylist.js"></script>