<div class="grid-x">
  <div id="new-survey" class="cell small-12 medium-offset-1 medium-10">
    <h2><%= translator.trans('New survey') %></h2>
    <form action="/survey/new/" method="post">
      <div class="grid-x grid-padding-x">
        <input type="hidden" name="owner" value="<%= ctx.session.user.id %>">
        <div class="cell small-12 medium-6">
          <label><%= translator.trans('Title') %>
            <input name="title" type="text" required>
          </label>
        </div>
        <div class="cell small-12 medium-3">
          <label><%= translator.trans('Evaluation') %>
            <select name="evaluation" required>
              <option disabled selected value hidden><%= translator.trans('Select evaluation') %></option>
              <% evaluations.forEach((evaluation) => { %>
              <option value="<%= evaluation.id %>"><%= evaluation.name %></option>
              <% }) %>
            </select>
          </label>
        </div>
        <div class="cell small-12 medium-3">
          <label><%= translator.trans('Template') %>
            <select name="template">
              <option value="-1" title="<%= translator.trans('New survey from scratch') %>"><%= translator.trans('No template') %></option>
              <% templates.forEach((template) => { %>
              <option title="<%= template.description %>" value="<%= template.id %>"><%= template.title %></option>
              <% }) %>
            </select>
          </label>
        </div>
        <div class="cell small-12" id="template-description">
        <label><%= translator.trans('Template description') %></label>
        <p><%= translator.trans('New survey from scratch') %></p></div>
        <div class="cell small-12">
          <label><%= translator.trans('Description') %>
            <textarea name="description" rows="3"></textarea>
          </label>
          <%# Any other required initialization fields here - for example start date may be important, also the schema and those 'Answerer info' questions may be defined here %>
          <input type="hidden" name="_csrf" value="<%= ctx.csrf %>"/>
          <input class="button" type="submit" value="<%= translator.trans('Next') %>">
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.querySelector('select[name="template"]').addEventListener('change', function(e) {
    var desc = document.querySelector(`option[value="${e.target.value}"]`).title;
    document.querySelector('#template-description>p').textContent = desc;
  });
</script>
