<h2><%= translator.trans('Results') %> <%= survey.title %> <span id="total-number-of-answers" class="label secondary"></span></h2>
<a href="/answer/excel/<%- survey.id %>" class="button" title="Download results spreadsheet"><i class="fi-download"></i> <%= translator.trans('Download results') %></a>
<label><%= translator.trans('Select group') %>
	<select id="group-dropdown" name="type">
		<% userGroups.forEach((group) => { %>
			<option value="<%= group.id %>" selected="<%= ctx.session.user.userGroup == group.id %>"><%= group.name %></option>
		<% }); %>
	</select>
</label>
<span id="number-of-answers-by-group"></span><hr>

<ul class="tabs grid-x" data-tabs id="result-tabs">
  <li class="tabs-title cell small-4 is-active"><a href="#tab1" aria-selected="true"><%= translator.trans('Average') %></a></li>
  <li class="tabs-title cell small-4"><a data-tabs-target="tab2" href="#tab2"><%= translator.trans('Question specific') %></a></li>
  <li class="tabs-title cell small-4"><a data-tabs-target="tab3" href="#tab3"><%= translator.trans('Four way graph') %></a></li>
</ul>
<div class="tabs-content" data-tabs-content="result-tabs">
  <div class="tabs-panel is-active" id="tab1">
    <div class="graph-container">
      <div class="survey-graph hide" id="scatter-graph"></div>
    </div>
  </div>
  <div class="tabs-panel" id="tab2">
    <div class="survey-graph hide" id="small-graphs">
      <div class="orbit" role="region" aria-label="Scatter Graphs" data-orbit data-auto-play="false">
        <nav class="orbit-bullets">
          <% questions.forEach((question, i) => { %>
          <button data-slide="<%=i%>" class="<%= i === 0 ? 'is-active' : ''%>" title="<%= translator.trans('Question') %> <%= i+1 %>"></button>
          <% }); %>
        </nav>
        <ul class="orbit-container">
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>

          <% questions.forEach((question, i) => { %>
          <li class="orbit-slide text-center <%= i === 0 ? 'is-active' : ''%>">
            <div class="graph-container">
              <h4><%= translator.trans('Question') %> <%=i+1%></h4>
              <h5><%= question.title %></h5>
              <div id="small-scatter-graph-<%=i%>"></div>
            </div>
            <hr>
            <div class="graph-container">
              <div id="bar-graph-<%=i%>"></div>
            </div>
            <div class="graph-container">
              <div id="test-graph-<%= i %>"></div>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div id="evidence-container"></div>
  </div>
  <div class="tabs-panel" id="tab3">
    <h4 id="active-question"></h4>
    <button type="button" title="<%= translator.trans('Previous question') %>" id="prev-question" class="button small"><%= translator.trans('Previous') %></button>
    <button type="button" title="<%= translator.trans('Next question') %>" id="next-question" class="button small"><%= translator.trans('Next') %></button>
    <div class="graph-container">
      <div class="survey-graph graph-container" id="fourWayGraph"></div>
    </div>
  </div>
</div>
<input type="hidden" value="<%= survey.id %>" id="_surveyId">
<script>
  const groups = <%- JSON.stringify(userGroups) %>;
</script>
<%# if we want to avoid creating some strange webpack rules this code needs to be converted to es6 modules %>
<script src="/js/results.js"></script>
