<form action="<%= `/survey/session/${link.key}` %>" method="POST">
  <input type="hidden" name="_csrf" value="<%= ctx.csrf %>"/>

  <h4><%= translator.trans('You are about to answer to survey %value%', survey.title)%></h4>
  <hr>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6">
      <label>
        <%= translator.trans('Before answering, please select the group you are representing') %>
      </label>
      <select name="group" required>
        <option disabled selected value hidden><%= translator.trans('Select group') %></option>
        <% groups.forEach((group) => { %>
        <option value="<%= group.id %>"><%= group.name %></option>
        <% }); %>
      </select>
      <input type="submit" class="button" value="<%= translator.trans('Next') %>">
    </div>
  </div>
</form>