<h2><%= userGroup.name %></h2>
<section id="react-root" data-group-id="<%= userGroup.id _%>"></section>
<div id="pagination"></div>

<%#- include('../partials/confirm-modal.ejs') %>
<%#- include('../common/description-modal.ejs'); %>
<script src="/js/usergroupedit.js"></script>
