<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invite to survey</title>
  <style>
    html {
      background-color: #eaeaea;
    }
    body {
      text-align: center;
      max-width: 600px;
      margin: auto;
      background: white;
      padding: 1em 1em 2em 1em;
    }
    * {
      font-family: Arial, sans-serif;
    }
    .button {
      text-decoration: none;
      vertical-align: text-bottom;
      display: inline-block;
      margin-bottom: 1em;
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
      font-weight: bold;
      border-radius: 3px;
      padding: 0.85em 1em;
      font-size: 0.9rem;
      background-color: #FFB337;
      color: #2F2F2F;
    }
  </style>
</head>
<body>
  <h2>You have been invited to a survey!</h2>
  <p><%= fullName %> wants you to answer this survey. Click the link to access the survey.</p>
  <a class="button" href="https://<%= `${host}/survey/answer/${link}` _%>">Answer survey</a><br/>
  <a href="https://<%= host _%>">Go to eKola home</a>
</body>
</html>
