<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= translator.trans('Password reset') %></title>
  <style>
    html {
      background-color: #eaeaea;
    }
    body {
      text-align: center;
      max-width: 600px;
      margin: auto;
      background: white;
      padding: 1em 1em 2em 1em;
    }
    * {
      font-family: Arial, sans-serif;
    }
    .button {
      text-decoration: none;
      vertical-align: text-bottom;
      display: inline-block;
      margin-bottom: 1em;
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
      font-weight: bold;
      border-radius: 3px;
      padding: 0.85em 1em;
      font-size: 0.9rem;
      background-color: #FFB337;
      color: #2F2F2F;
    }
  </style>
</head>
<body>
<h2><%= translator.trans('Forgot your password?') %></h2>
<p><%= translator.trans('Password reset has been requested for user: %value%. Click the link to go to the password reset page.', username) %></p>
<a class="button" href="https://<%= `${host}/user/password/reset/${token}` %>">Reset password</a><br/>
<a href="https://<%= host %>"><%= translator.trans('Go to eKola home') %></a>
</body>
</html>
