<% const now = moment().utc() %>
<% const endDate = moment(survey.endDate).utc(true) %>
<% const startDate = moment(survey.startDate).utc(true) %>

<div id="error-page" class="grid-x grid-padding-x">
  <div class="cell small-4 text-right icon">
    <i class="fi-clock"></i>
  </div>
  <div class="cell small-8">
    <h4><%= translator.trans('Survey %value% in not open', survey.title) %></h4>

    <% if (now.isAfter(endDate)) { %>
    <p><%= translator.trans('Survey closed at %value%', endDate.local().format('HH:mm DD.MM.YYYY')) %></p>
    <% } else { %>
    <p><%= translator.trans('Survey opens at %value%', startDate.local().format('HH:mm DD.MM.YYYY')) %></p>
    <% } %>
  </div>
</div>
