<div id="error-page" class="grid-x grid-padding-x">
	<div class="cell small-4 text-right icon">
		<i class="fi-wrench"></i>
		<p>status: <%= ctx.status %></p>
	</div>
	<div class="cell small-8">
		<h2><%= translator.trans('Oops, something went wrong') %></h2>
		<p><%= translator.trans("Don't worry. If the problem recurs please contact karhukopla@metropolia.fi") %></p>
	</div>
</div>