<!DOCTYPE html>
<html lang=<%= ctx.session.locale || 'en' %>>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon"href="/favicon.ico">
    <title><%= typeof title === 'undefined' ? 'eKola' : title + ' | eKola' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" data-value="<%= ctx.csrf %>">
    <script src="/css/app.js"></script>

    <!-- TODO import from node modules! -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />

    <script src="/js/vendors.js"></script>
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" style="display: none">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title" data-toggle><%=translator.trans('Menu')%></div>
    </div>
    <nav class="top-bar" id="main-menu">
      <div class="nav-content">
        <div class="top-bar-left">
          <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
            <li class="menu-text">eKola</li>
            <% if (ctx.session.user) { %>
            <li class="has-submenu"><a href="/survey/list/active"><%= translator.trans('Surveys') %></a>
              <ul class="submenu mega menu vertical nav-sub" data-submenu>
                <li><a href="/survey/new"><%= translator.trans('New survey') %></a></li>
                <li><a href="/survey/list/active"><%= translator.trans('Active surveys') %></a></li>
                <li><a href="/survey/list/closed"><%= translator.trans('Closed surveys') %></a></li>
              </ul>
            </li>
            <li><a href="/evaluation/new"><%= translator.trans('New evaluation') %></a></li>
            <% if(ctx.session.user.userGroup) { %>
            <li><a href="/usergroup/<%= ctx.session.user.userGroup _%>/edit"><%= translator.trans('Manage group') %></a></li>
            <% } %>
            <% } %>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="vertical medium-horizontal menu">
            <% const otherLocale = ctx.session.locale === 'fi' ? 'en' : 'fi' %>
            <li><a href="/user/locale/change/<%= otherLocale %>" title="<%=translator.trans('Change language')%>">
            <img src="<%= `/locale_${otherLocale}.png` %>"></a></li>
            <% if(ctx.session.user) { %>
            <li><a href="/user/profile"><%= translator.trans('Profile') %></a></li>
            <li><a href="/user/logout"><%= translator.trans('Log out') %></a></li>
            <% } else { %>
            <li><a href="/"><%= translator.trans('Log in') %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Internet Explorer not supported -->
    <div id="warning" class="alert callout" hidden data-closable><h3></h3></div>
    <%# layout is cached after the first request, so the server needs to be restarted for changes here to display %>
    <% if(ctx.session.flash) { %>
    <section id="flash-container" class="callout alert" data-closable="">
      <div>
        <p id="flash-message"><b><%= translator.trans(ctx.session.flash) %></b></p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close="">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </section>
    <%  ctx.session.flash = '' %>
    <% } %>
    <div id="container" class="grid-container grid-container-padded">
      <%- body %>
    </div>
    <div id="info-message" style="display: none"><i></i> <b></b></div>
    <!--<footer>Copyright 2017 Karhukopla</footer>-->
    <script>
      var isIE = false || !!document.documentMode;
      if(isIE) {
        document.querySelector('#warning>h3').textContent = "<%= translator.trans('Internet Explorer is not supported') %>";
        document.querySelector('#warning').hidden = false;
      }
    </script>
  </body>
</html>