#container {
  @include breakpoint(small) {
    padding: 1rem 0.5rem;
  }

  @include breakpoint(medium) {
    padding: 1rem 1.5rem;
  }

  @include breakpoint(large) {
    padding: 1rem 2rem;
  }
}
#flash-container {
  max-width: $body-width;
  margin: auto;
  #flash-message {
    margin: auto;
    text-align: center;
  }
}
.survey {
  padding: 1rem;
  border-bottom: 1px solid $border-color;
}

.criteria {
  border-bottom: 1px solid $border-color;
  padding: 1em 1em 2em 1em;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.tabs {
  li {
    text-align: center;
  }
  li:nth-child(2) {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
  }
}

#select-question {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include breakpoint(small only) {
    .button, b {
      font-size: .75rem;
    }
  }
  span {
    min-width: 50%;
    #active-question {
      margin: 0 auto;
    }
  }
}

.input-group {
  .react-selectize {
    width: inherit !important;
    .react-selectize-control {
      border-radius: 0 !important;
    }
  }
}

footer {
  margin: 0 auto;
}

