nav.top-bar {
  .nav-content {
    @include breakpoint(medium) {
      width: $body-width;
      margin: auto;
      display: flex;
      padding: 0 1rem;
    }
  }
  @include breakpoint(medium) {
    display: flex !important;
  }
  @include breakpoint(small only) {
    display: none;
  }
  background-color: $color1;
  padding: 0;
  min-height: $nav-height;
  .top-bar-left, .top-bar-right {
    min-height: $nav-height;

    >.menu {
      min-height: $nav-height;
      color: $color4;
      background-color: $color1;
      z-index: 10;

      .nav-sub {
        display: none;
        right: auto;
        left: 0 !important;
        top: 100%;
        border: 0;
        background-color: $color1-dark;

        @include breakpoint(small only) {
          a {
            font-size: 12px !important;
            padding-left: 1.5em !important;

          }
        }
      }

      .menu-text {
        line-height: 1.6;
        @include breakpoint(small only) {
          display: none;
        }
      }

      li {
        @include breakpoint(medium) {
          min-height: $nav-height;
        }

        a {
          padding: 0.7rem .5rem;
          font-size: 14px;
          line-height: 1.9;
          @include breakpoint(medium) {
            min-height: $nav-height;
          }
        }
      }
    }
  }
  a {
    color: #FFF;
  }

  .dropdown.menu .is-active>a, a:hover, a:active, a:focus {
    background-color: $color1-light;
  }
}

.title-bar {
  background-color: $color1-dark;
  color: #FFF;

  .title-bar-title {
    padding-left: 5px;
    cursor: pointer;
  }
  .title-bar-title:hover {
    color: darken(#FFF, 10%);
  }

}
.dropdown.menu .is-active>a {
  background-color: $color1-light;
  color: #fff;
}
.js-dropdown-active,
.is-dropdown-submenu-parent:hover .nav-sub,
.is-dropdown-submenu-parent:focus .nav-sub {display: block  !important;}
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {padding-right:.5rem;}
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {display: none;}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
  border-color: #fff transparent transparent;
}
