<div class="grid-x align-center">
  <div class="cell small-12 medium-6">
    <fieldset class="fieldset">
      <legend><%= translator.trans('Change password') %></legend>
      <form action="/user/change-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
        <label><%= translator.trans('Old password') %>
          <input type="password" name="oldpassword" required>
        </label>
        <label><%= translator.trans('New password') %>
          <input type="password" name="password" required>
        </label>
        <label><%= translator.trans('Confirm new password') %>
          <input type="password" name="confirmation" required>
        </label>
        <button type="submit" class="button cell small-12"><%= translator.trans('Change password') %></button>
      </form>
    </fieldset>
    <a href="/user/profile"><%= translator.trans('Back to profile page') %></a>
  </div>
</div>
