<div class="grid-x">
	<div id="login-form" class="cell small-12 medium-offset-1 medium-10 large-offset-2 large-8 ">
		<fieldset class="fieldset">
			<legend>
				<h3><%= translator.trans('Log in') %></h3>
			</legend>
			<form action="/user/login" method="POST">
				<input type="hidden" name="_csrf" value="<%= ctx.csrf %>"/>
				<label><%= translator.trans('Username') %>
					<input type="text" name="username" value="<%= typeof username === 'undefined' ? '' : username %>" required autofocus/>
				</label>
				<label><%= translator.trans('Password') %>
					<input type="password" name="password" required/>
				</label>
				<input type="submit" class="button" value="<%= translator.trans('Log in') %>">
				<a href="/user/signup" class="button"><%= translator.trans('Sign up') %></a>
			</form>
			<a href="/user/password/reset/send"><%= translator.trans('Forgot your password?') %></a>
		</fieldset>
	</div>
	<footer>
		<p> <%= translator.trans('This website uses cookies to save your settings. By pressing log in, you consent to the usage of cookies and forfeit any diet you might have been on.') %></p>
	</footer>
</div>