<div id="profile">
<% if(!ctx.session.user.username === user.username){ %>
<%- include('./user/partials/about') %>
<% } else { %>
<%- include('./user/partials/edit-user.ejs') %>
<%- include('./user/partials/usercontent') %>
<script src="/js/profile.js"></script>
<%- include('./evaluation/partials/new-group-modal.ejs') %>
<%- include('./partials/confirm-modal.ejs') %>
<%- include('./survey/partials/reopen-modal.ejs') %>
<% } %>
</div>

