<div class="grid-x align-center">
  <div class="cell small-12 medium-6">
    <fieldset class="fieldset">
      <legend><%= translator.trans('Reset password') %></legend>
      <form action="/user/password/reset/<%= token %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
        <label><%= translator.trans('Username') %>
          <input type="text" name="username" value="<%= typeof username === 'undefined' ? '' : username %>" required>
        </label>
        <label><%= translator.trans('New password') %>
          <input type="password" name="password" required>
        </label>
        <label><%= translator.trans('Confirm new password') %>
          <input type="password" name="confirmation" required>
        </label>
        <button type="submit" class="button cell small-12"><%= translator.trans('Reset password') %></button>
      </form>
    </fieldset>
    <a href="/user/login"><%= translator.trans('Back to login page') %></a>
  </div>
</div>
