<form method="POST" action="/user/signup">
  <input type="hidden" name="_csrf" value="<%= ctx.csrf %>"/>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-6">
      <label><%= translator.trans('Given name') %>
        <input name="givenName" type="text" value="<%= typeof user === 'undefined' ? '' : user.givenName %>" required>
      </label>
      <label><%= translator.trans('Family name') %>
        <input name="familyName" type="text" value="<%= typeof user === 'undefined' ? '' : user.familyName %>" required>
      </label>
    </div>
    <div class="cell small-12 medium-6">
      <label><%= translator.trans('Username') %>
        <input name="username" type="text" value="<%= typeof user === 'undefined' ? '' : user.username %>" required>
      </label>
      <label><%= translator.trans('Email') %>
        <input name="email" type="email" value="<%= typeof user === 'undefined' ? '' : user.email %>" required>
      </label>
    </div>
    <div class="cell small-12 medium-6">
      <label><%= translator.trans('Password') %>
        <input type="password" name="password" required>
      </label>
      <label><%= translator.trans('Confirm password') %>
        <input type="password" name="confirmation" required>
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <label><%= translator.trans('Select an existing group to which you want to be assigned.') %>
        <select name="userGroup.id">
          <option value="" disabled selected hidden><%= translator.trans('No group') %></option>
          <option value=""><%= translator.trans('Create a new group') %></option>
          <%_ userGroups.forEach(group=>{ _%>
          <option value="<%= group.id %>" <%= typeof user !== 'undefined' && user.userGroup.id == group.id ? 'selected' : '' %>><%= group.name %></option>
          <%_ }) _%>
        </select>
      </label>
      <fieldset class="fieldset" hidden>
        <legend><%= translator.trans('New group') %></legend>
        <label><%= translator.trans('Group name') %>
          <input name="userGroup.name" type="text" value="<%= typeof user === 'undefined' ? '' : user.userGroup.name %>">
        </label>
        <label><%= translator.trans('Description') %>
          <input name="userGroup.description" type="text" value="<%= typeof user === 'undefined' ? '' : user.userGroup.description %>">
        </label>
      </fieldset>
      <input type="submit" class="button" value="<%= translator.trans('Sign up') %>">
    </div>
  </div>
</form>
<script>
  let fieldset = document.querySelector('fieldset');
  document.querySelector('select[name="userGroup.id"]').addEventListener('change', (event) => {
    let option = document.querySelector(`option[value="${event.target.value}"]`);
    if (!option.value.length) fieldset.hidden = false;
    else fieldset.hidden = true;
  });
</script>