<div id="edit-evaluation" class="grid-x  grid-margin-x">
  <h2 class="cell"><%= evaluation.name %></h2>
  <div class="small-12 large-4 cell">
    <label for="groups"><%= translator.trans('Add groups') %></label>
    <div class="input-group">
      <input type="text" id="groups">
      <div class="input-group-button">
        <input type="submit" id="add-groups" class="button" value="<%= translator.trans('Add') %>">
      </div>
    </div>
    <button type="button" title="<%= translator.trans('Create a new group') %>" class="button" data-open="new-group-modal"><%= translator.trans('New group') %></button>

    <h4><%= translator.trans('Groups') %></h4>
    <table id="group-table">
      <tbody>
        <% userGroups.forEach((group) => { %>
          <tr class="user-group-container" data-group-id="<%= group.id %>">
            <td><%= group.name %></td>
            <td>
              <button type="button" class="small button alert remove-group" data-remove-group><%= translator.trans('Remove') %></button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="small-12 large-8 cell">
    <input type="hidden" id="_evaluationId" value="<%= evaluation.id %>">
    <label for="users-action"><%= translator.trans('Selected users:') %></label>
    <div class="input-group">
      <select id="user-action">
        <option value=""><%= translator.trans('Choose...') %></option>
        <option value="void"><%= translator.trans('Void sessions') %></option>
        <option value="remove"><%= translator.trans('Remove from evaluation') %></option>
        <option value="admin"><%= translator.trans('Give admin permissions') %></option>
      </select>
      <div class="input-group-button">
        <button class="button" id="perform-user-action">OK</button>
      </div>
    </div>
    <div id="current-users">
      <h4><%= translator.trans('Current users') %></h4>
      <section class="table-container">
        <table class="group-user-container">
        <thead>
        <tr>
          <th><%= translator.trans('Full name') %></th>
          <th><%= translator.trans('Email') %></th>
          <th><%= translator.trans('Active group') %></th>
          <th><%= translator.trans('Actions') %></th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach((user) => { %>
        <tr class="group-user" data-user="<%= user.id %>">
          <td><%= user.givenName %> <%= user.familyName %></td>
          <td><%= user.email %></td>
          <td><%= user.userGroup ? user.userGroup.name : '' %></td>
          <td>
            <div class="table-buttons">
              <%# TODO: if currentUser.permissions contains user.userGroup, show remove %>
              <button type="button" title="<%= translator.trans('Select') %>" class="button hollow select-user"><i class="fi-check"></i></button>
              <button type="button" title="<%= translator.trans('User info') %>" class="button show-user" data-open="description-modal"><i class="fi-torso"></i></button>
            </div>
          </td>
        </tr>
        <% }); %>
        </tbody>
      </table>
      </section>
    </div>
  </div>
</div>
<%- include('./partials/confirm-modal.ejs') %>
<%- include('./evaluation/partials/new-group-modal.ejs') %>
<%- include('./partials/description-modal.ejs'); %>
<script src="/js/evaluation-edit.js"></script>
