<div class="grid-x">
  <div id="new-evaluation" class="cell small-12 medium-offset-1 medium-10">
    <h2><%= translator.trans('New evaluation') %></h2>
    <input type="hidden" id="_user-group" value="<%= user.userGroup %>">
    <form action="/evaluation/new" method="post">
      <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
      <label><%= translator.trans('Evaluation name') %>
        <input type="text" name="name" required>
      </label>
      <input type="hidden" id="owner" name="owner" value="<%= user.id %>">
      <label><%= translator.trans('Groups') %>
        <input type="text" id="groups" name="groups" required>
      </label>
      <button type="button" title="<%= translator.trans('Create a new group') %>" class="button" data-open="new-group-modal"><%= translator.trans('New group') %></button>
      <input type="submit" class="button success" value="<%= translator.trans('Next') %>">
    </form>
    <script src="/js/evaluation-new.js"></script>
  </div>
</div>
<%- include('./evaluation/partials/new-group-modal.ejs') %>