<div class="reveal medium grid-x" id="new-group-modal" data-reveal
     data-animation-in="scale-in-up fast"
     data-animation-out="scale-out-down fast"
     data-close-on-click="true">

  <div class="small-12 cell" id="content">
    <fieldset class="fieldset">
      <legend><%= translator.trans('Create a new group') %></legend>
      <label><%= translator.trans('Group name') %>
        <input id="group-name" type="text">
      </label>
      <label><%= translator.trans('Description') %>
        <input id="group-description" type="text">
      </label>
    </fieldset>
  </div>

  <div class="button-group">
    <button type="button" class="button" id="create-group-btn"><%= translator.trans('Create') %></button>
    <button type="button" class="alert button" data-close><%= translator.trans('Cancel') %></button>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
