$color1: #3F5272;
$color1-dark: darken($color1, 5%);
$color1-light: lighten($color1, 10%);
$color2: #5d231f;
$color2-light: lighten($color2, 20%);
$color3: #54494B;
$color4: #f1f1f1;
$border-color: #dedede;
$background-color: #fefefe;

$nav-height: 50px;
$body-width: 75rem;
