<%# Currently responder allows requesting views statically if the path matches the view path relative to the views folder %>
<%# So you can, for example, request some html for a modal directly via an ajax get request %>
<%# This fragment displays public information about the user such as their username, which userGroups they have have answered as and how many surveys they have answered so far %>
<%# It is public for every logged in user %>
<div class="grid-x">
	<div class="cell small-12">
		<h2><%= translator.trans('Profile') %></h2>
	</div>
</div>
<div class="grid-x">
	<%=  %>
	<!--user information-->
	<div class="cell small-12">
		<h4><%= translator.trans('Personal information') %></h4>
	</div>
	<div class="cell small-12 medium-6">
		<label><%= translator.trans('Username') %></label>
		<p><%= user.username %></p>
		<label><%= translator.trans('Email') %></label>
		<p><%= user.email %></p>
		<label><%= translator.trans('Active group') %></label>
		<p><%= userGroup ? userGroup.name : translator.trans('No active group') %></p>
		<% if (userGroup) { %>
		<label><%= translator.trans('Group description') %></label>
		<p><%= userGroup.description %></p>
		<% } %>
		<label><%= translator.trans('All groups') %></label>
		<p><%= groups.map(group => group.name).join(', ') %></p>
	</div>
	<div class="cell small-12 medium-6">
		<label><%= translator.trans('Given name') %></label>
		<p><%= user.givenName %></p>
		<label><%= translator.trans('Family name') %></label>
		<p><%= user.familyName %></p>
	</div>
</div>