<div class="grid-x">
	<div class="cell small-12">
		<h4><%= translator.trans('Personal information') %></h4>
	</div>
</div>

<div class="grid-x">
	<div class="cell medium-6 small-12 ">
		<label><%= translator.trans('Username') %></label>
		<p><%= user.username %></p>
		<label><%= translator.trans('Active group') %></label>
		<p><%= userGroup ? userGroup.name : translator.trans('No active group') %></p>
		<% if (userGroup) { %>
		<label><%= translator.trans('Group description') %></label>
		<p><%= userGroup.description %></p>
		<% } %>
		<label><%= translator.trans('All groups') %></label>
		<p><%= groups.map(group => group.name).join(', ') %></p>
	</div>
	<div class="cell medium-6 small-12">
		<form action="/user/save" method="POST">
			<input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
			<label><%= translator.trans('Given name') %></label>
			<input type="text" value="<%= user.givenName %>" name="givenName" required>
			<label><%= translator.trans('Family name') %></label>
			<input type="text" value="<%= user.familyName %>" name="familyName" required>
			<label><%= translator.trans('Email') %></label>
			<input type="email" value="<%= user.email %>" name="email" required>
			<input type="submit" class="success button" value="<%= translator.trans('Save') %>">
		</form>
	</div>
</div>