<%# This fragment displays user content such as surveys, evaluations and userGroups to which they have rights to %>
<%# It is private to every user %>

<fieldset class="fieldset">
	<legend><%= translator.trans('Manage profile') %></legend>
	<div class="grid-x grid-margin-x">
		<div class="cell shrink">
			<label><%= translator.trans('Change password') %></label>
			<a href="/user/password/change" class="button secondary"><i class="fi-key"></i> <%= translator.trans('Change password') %></a>
		</div>
		<div class="cell shrink">
			<label><%= translator.trans('New group') %></label>
			<button class="button" data-open="new-group-modal"><i class="fi-plus"></i> <%= translator.trans('New group') %></button>
		</div>
		<div class="cell shrink">
			<label><%= translator.trans('Change group') %></label>
			<form method="POST" action="/user/changeUserGroup">
				<input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
				<div class="input-group">
					<select name="group">
						<option value=""><%= translator.trans('Choose...') %></option>
						<% permittedUserGroups.forEach((group)=>{ %>
						<option value="<%= group.id %>"><%= group.name %></option>
						<% }); %>
					</select>
					<button class="button disabled" id="change-group-btn">OK</button>
				</div>
			</form>
		</div>
	</div>
</fieldset>
<div class="grid-x grid-margin-x">
	<!-- supervised evaluations -->
	<div class="cell small-12 large-6 profile-link-container">
		<h4><%= translator.trans('My supervised evaluations') %></h4>
		<% if (!!supervisedEvaluations.length) { %>
		<% supervisedEvaluations.forEach((evaluation) => { %>
		<div class="grid-x profile-row">
			<div class="auto cell"><p><%= evaluation.name %></p></div>
			<div class="shrink small button-group">
				<a href="/evaluation/<%= evaluation.id %>/edit" class="button"><i class="fi-pencil"></i> <%= translator.trans('Edit') %></a>
				<button title="<%= translator.trans('Delete evaluation') %>" class="button alert remove-evaluation" data-open="confirm-modal" data-evaluation-id="<%= evaluation.id %>"><i class="fi-trash"></i></button>
			</div>
		</div>
		<% }); %>
		<% } else { %>
		<p><%=translator.trans('You are not supervising any evaluations currently')%></p>
		<% } %>
		<a href="/evaluation/new" class="button small link-button">
				<i class="fi-plus"></i> <%= translator.trans('New evaluation') %></a>
	</div>
	<!-- my evaluations -->
	<div class="cell small-12 large-6 profile-link-container">
		<h4><%= translator.trans('My evaluations') %></h4>
		<% if (!!evaluations.length) { %>
		<% evaluations.forEach((evaluation) => { %>
		<div class="grid-x profile-row">
			<div class="auto cell"><p><%= evaluation.name %></p></div>
			<div class="shrink">
					<button title="<%= translator.trans('Leave evaluation') %>" data-user="<%= user.id %>" data-evaluation="<%= evaluation.id %>"
									class="alert small button remove-user" data-open="confirm-modal"><i class="fi-x"></i> <%= translator.trans('Leave') %></button>
			</div>
		</div>
		<% }); %>
		<% } else { %>
			<p><%=translator.trans('You are not a participant in any evaluation currently')%></p>
		<% } %>
	</div>
</div>
<div class="grid-x grid-margin-x">
	<!-- surveys -->
	<div class="cell small-12 large-6 profile-link-container">
		<h4><%= translator.trans('My surveys') %></h4>
		<% if (!!supervisedSurveys.length) { %>
		<% supervisedSurveys.forEach((survey) => { %>
		<div class="grid-x profile-row">
			<div class="auto cell"><p><%= survey.title %></p></div>
			<div class="shrink small button-group">
			<% /* CLOSED SURVEYS */ %>
			<% if (moment(survey.endDate).utc(true) < moment().utc()) { %>
				<button title="<%= translator.trans('Reopen survey') %>" class="small button secondary" data-toggle="reopen-modal" data-open-survey="<%= survey.id %>"><i class="fi-unlock"></i></button>
				<a href="/survey/<%= survey.id %>/edit" class="button" title="<%= translator.trans('Edit survey') %>"><i class="fi-pencil"></i></a>
				<a href="/answer/results/<%= survey.id %>" class="success button" title="<%= translator.trans('View results') %>"><i class="fi-graph-bar"></i></a>
				<button type="button" title="<%= translator.trans('Delete survey') %>" class="small button alert delete-btn" data-id="<%= survey.id %>"
								data-title="<%= survey.title %>" data-open="confirm-modal">
					<i class="fi-trash"></i></button>
			<% /* EMPTY SURVEYS OR NOT OPEN YET */ %>
			<% } else if(survey.endDate === null || survey.startDate === null || moment(survey.startDate).utc(true) > moment().utc()) { %>
				<a href="/survey/<%= survey.id %>/edit" class="button" title="<%= translator.trans('Edit') %>"><i class="fi-pencil"></i> <%= translator.trans('Edit') %></a>
				<button type="button" title="<%= translator.trans('Delete survey') %>" class="small button alert delete-btn" data-id="<%= survey.id %>"
								data-title="<%= survey.title %>" data-open="confirm-modal">
					<i class="fi-trash"></i></button>
			<% /* OPEN SURVEYS */ %>
			<% } else { %>
				<button title="<%= translator.trans('Close survey') %>" class="small button secondary" data-toggle="confirm-modal" data-close-survey="<%= survey.id %>"><i class="fi-lock"></i></button>
				<% if(survey.ongoingSession && evaluations.some((e) => survey.evaluation ? e.id === survey.evaluation.id : false)) { %>
				<a title="<%= translator.trans('Answer survey') %>" href="/survey/<%= survey.id %>/answer" class="warning button" ><i class="fi-page-edit"></i> <%= translator.trans('Answer') %></a>
				<% } else if(!survey.canAnswer) { %>
				<button title="<%= translator.trans('Your active group is not participating in this survey') %>" class="warning button" disabled><i class="fi-pencil"></i> <%= translator.trans('Answer') %></button>
				<% } else { %>
				<a title="<%= translator.trans('Answer survey') %>" href="/survey/<%= survey.id %>/answer" class="warning button" ><i class="fi-pencil"></i> <%= translator.trans('Answer') %></a>
				<% } %>
			<% } %>
			</div>
		</div>
		<% }); %>
		<% } else { %>
			<p><%=translator.trans('You have not created any surveys')%></p>
		<% } %>
		<a href="/survey/new" class="button small link-button">
				<i class="fi-plus"></i> <%= translator.trans('New survey') %></a>
	</div>
	<div class="cell small-12 large-6 profile-link-container">
		<h4><%= translator.trans('Ongoing surveys') %></h4>
		<% if (!!sessions.length) { %>
		<% sessions.forEach((session) => { %>
		<% if(session.open && session.survey && moment(session.survey.endDate).utc(true) > moment().utc() && moment(session.survey.startDate).utc(true) < moment().utc() && evaluations.some((e) => e.id === session.survey.evaluation)) { %>
		<div class="grid-x profile-row">
			<div class="auto cell"><p><%= session.survey.title %></p></div>
			<div class="shrink">
				<a href="/survey/<%= session.survey.id %>/answer" class="small warning button" title="<%= translator.trans('Continue answering') %>"><i class="fi-page-edit"></i> <%= translator.trans('Answer') %></a>
			</div>
		</div>
		<% } %>
		<% }); %>
		<% } else { %>
			<p><%=translator.trans('You are not participating in any active surveys currently')%></p>
		<% } %>
		<a href="/survey/list/active" class="small button link-button"><%= translator.trans('Active surveys') %></a>
	</div>
</div>
<%/* MY TEMPLATES */%>
<% if (templates.length > 0) { %>
<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-6 profile-link-container">
		<h4><%= translator.trans('My templates') %></h4>
		<% if (templates.length > 0) { %>
		<% templates.forEach((template) => { %>
		<div class="grid-x profile-row">
			<div class="auto cell"><p><%= template.title %></p></div>
			<div class="shrink small button-group">
				<button title="<%= translator.trans('Delete template') %>" class="small button alert delete-template-btn" data-toggle="confirm-modal"
								data-title="<%= template.title %>" data-id="<%= template.id %>"><i class="fi-trash"></i></button>
			</div>
		</div>
		<% }); %>
		<% } %>
	</div>
</div>
<% } %>
</div>


