server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name {{server_name | 'ekola.metropolia.fi'}};
  return 301 https://$server_name$request_uri;
}

server {

# SSL configuration

  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;
  ssl_certificate {{ssl_cert_path | '/etc/nginx/ssl/ekola_metropolia_fi.pem'}};
  ssl_certificate_key {{ssl_key_path | '/etc/nginx/ssl/ekola_metropolia_fi.key'}};

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
  ssl_ecdh_curve secp384r1;
  ssl_session_cache shared:SSL:10m;
  ssl_session_tickets off;
  ssl_stapling on;
  ssl_stapling_verify on;
  #add_header X-Frame-Options DENY;
  add_header X-Content-Type-Options nosniff;

  root /var/www/html;

  index index.html index.htm index.nginx-debian.html;

  server_name {{server_name | 'ekola.metropolia.fi'}};

  error_log  /var/log/nginx/nginx_error.log  warn;

  location ~ / {
    root {{app_root | '/var/www/apps/ekola'}}/client/dist;
    try_files $uri @app;
  }

  location @app {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    # Route socket upgrade to the app 
    proxy_set_header   Upgrade $http_upgrade;
    proxy_set_header   Connection "upgrade";
    proxy_pass http://127.0.0.1:{{app_port | '3000'}};
    proxy_redirect http://127.0.0.1:{{app_port | '3000'}} $scheme://{{server_name | 'ekola.metropolia.fi'}};
    proxy_read_timeout 90s;
    proxy_http_version 1.1;
    proxy_request_buffering off;
    sendfile off;
  }
}