<div class="reveal" id="reopen-modal" data-reveal
     data-animation-in="scale-in-up fast"
     data-animation-out="scale-out-down fast"
     data-close-on-click="true">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium-6 cell">
      <label><%= translator.trans('End time') %>
        <input type="text" class="flatpickr" id="end-date" name="survey.endDate">
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x" style="margin-top:1em;">
    <div class="button-group cell">
      <button type="button" id="reopen-modal-accept" class="button"><%= translator.trans('Accept') %></button>
      <button type="button" class="alert button" data-close><%= translator.trans('Cancel') %></button>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
