<div class="grid-x grid-padding-x">
  <div class="small-9 large-6 cell">
    <div class="slider" data-slider
         data-start="<%= criteria.options.min %>"
         data-end="<%= criteria.options.max %>"
         data-step="1<%= /*TODO: delete steps entirely? criteria.options.step*/ %>">
          <span class="slider-handle" data-slider-handle role="slider" tabindex="1"
                aria-controls="<%= `${question.id}-${i}` %>"></span>
      <span class="slider-fill" data-slider-fill></span>
    </div>
  </div>
  <div class="small-3 large-1 cell">
    <input type="number" name="<%= `${question.id}[${i}-scale]` %>" id="<%= `${question.id}-${i}` %>" class="input">
  </div>
</div>
