<div class="grid-x">
  <div class="cell small-8 large-6">
    <% criteria.options.choices.forEach((choice) => { %>
    <label class="radio-label">
      <div class="radio-button">
        <input type="radio" id="<%= `${question.id}-${i}` %>" name="<%= `${question.id}[${i}-select]` %>"
               value="<%= choice.value %>" class="input">
      </div>
      <%= choice.description %></label>
    <% }); %>
  </div>
</div>
