$font-stack: Helvetica, sans-serif;

* {
  font-family: $font-stack;
}

p, a {
  font-size: 14px;
}

i {
  pointer-events: none;
}

label {
  font-weight: bold;
}

.error {
  color: red;
}

.has-error>.question-title,
.has-error>.criteria-title {
  border-color: red !important;
  color: red !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}