[Unit]
Description=EKOLA web app service
After=nginx.service

[Service]
ExecStart=/root/n/bin/node {{app_root | '/var/www/apps/ekola'}}/app.js --verbose
StartLimitInterval=60
StartLimitBurst=3
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=EKOLA
Restart=always
WorkingDirectory={{app_root | '/var/www/apps/ekola'}}

[Install]
WantedBy=multi-user.target